
/*******************
SP Vertical Menu layout 7
********************/

.header_v7 .sp-vermegamenu a i{
    display: none;
}

.header_v7 div.spverticalmenu .sp-vermegamenu .navbar-nav > li:hover > a{
    padding-left: 20px;
}

.lang-rtl .header_v7 div.spverticalmenu .sp-vermegamenu .navbar-nav > li:hover > a{
    padding-left: 0;
    padding-right: 20px;
}

.header_v7 div.spverticalmenu h3{
  font-size: 14px;
}

.header_v7 div.spverticalmenu h3:after{
  display: none;
}

.header_v7 div.spverticalmenu h3:before{
  background: transparent url("../../../assets/img/icon/icon-ver-3.png") no-repeat scroll center center;
}

.header_v7 div.spverticalmenu .sp-vermegamenu .navbar-nav > li > a {
    padding: 12px 0 14px;
}

.header_v7 div.spverticalmenu .more-wrap{
    padding: 21px 20px;
}

.header_v7 div.spverticalmenu .more-wrap i{
    float: right;
    margin: 0;
}

.lang-rtl .header_v7 div.spverticalmenu .more-wrap i{
  float: left;
  margin: 0;
}

/********************************/


.sp-vermegamenu .navbar-nav > li {
  float: none;
  position: static; }

#index div.spverticalmenu .navbar-vertical {
   }

div.spverticalmenu {
  position: relative;
  z-index: 5; }
  div.spverticalmenu h3 {
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    background: #3b3b3b;
    padding: 22px 20px 23px 44px;
    margin-bottom: 0;
    position: relative;
    margin-top: 0; }
    div.spverticalmenu h3:before {
      position: absolute;
      content: "";
      background: transparent url("../../../assets/img/icon/icon-ver.png") no-repeat scroll center center;
      height: 17px;
      top: 21px;
      left: 15px;
      right: auto;
      width: 19px; }
    div.spverticalmenu h3:after {
      position: absolute;
      content: "";
      background: transparent url("../../../assets/img/icon/icon-ver-2.png") no-repeat scroll center center;
      height: 17px;
      width: 17px;
      top: 19px;
      left: auto;
      right: 15px; }
  div.spverticalmenu .navbar-vertical {
    display: none;
    width: 100%;
    position: absolute;
    z-index: 4;
    border-top: none; }
  div.spverticalmenu:hover {
    cursor: pointer; }
    div.spverticalmenu:hover .navbar-vertical {
      display: block; }
  div.spverticalmenu .more-wrap {
    padding: 15px 20px 21px;
    clear: both;
    display: inline-block;
    width: 100%;
    font-weight: normal;
    cursor: pointer;
    color: #222; }
    div.spverticalmenu .more-wrap i {
      margin: 0 15px 0 5px;
      font-size: 18px;
      color: #616161; }
  div.spverticalmenu .more-wrap .more-view {
    padding: 0;
    font-size: 14px;
    text-transform: capitalize;
    color: #222;
    font-weight: 600; }
  div.spverticalmenu .sp-vermegamenu {
    background-color: #ffffff;
    border: 1px solid #e7e7e7; }
    div.spverticalmenu .sp-vermegamenu .navbar-nav > li {
      position: relative; }
      div.spverticalmenu .sp-vermegamenu .navbar-nav > li > a {
        padding: 11px 0 13px;
        margin: 0 20px;
        border-bottom: 1px solid #efefef;
        color: #222;
        font-weight: 600;
        background: transparent;
        font-size: 14px;
        text-transform: capitalize;
        line-height: 22px;
        display: block;
        -webkit-transition: all 300ms linear;
        -moz-transition: all 300ms ease 0s; }
        div.spverticalmenu .sp-vermegamenu .navbar-nav > li > a .fa-icon-1 {
          background: url("../../../assets/img/icon/icon-1.png") no-repeat center center; }
        div.spverticalmenu .sp-vermegamenu .navbar-nav > li > a .fa-icon-2 {
          background: url("../../../assets/img/icon/icon-2.png") no-repeat center center; }
        div.spverticalmenu .sp-vermegamenu .navbar-nav > li > a .fa-icon-3 {
          background: url("../../../assets/img/icon/icon-3.png") no-repeat center center; }
        div.spverticalmenu .sp-vermegamenu .navbar-nav > li > a .fa-icon-4 {
          background: url("../../../assets/img/icon/icon-4.png") no-repeat center center; }
        div.spverticalmenu .sp-vermegamenu .navbar-nav > li > a .fa-icon-5 {
          background: url("../../../assets/img/icon/icon-5.png") no-repeat center center; }
        div.spverticalmenu .sp-vermegamenu .navbar-nav > li > a .fa-icon-6 {
          background: url("../../../assets/img/icon/icon-6.png") no-repeat center center; }
        div.spverticalmenu .sp-vermegamenu .navbar-nav > li > a .fa-icon-7 {
          background: url("../../../assets/img/icon/icon-7.png") no-repeat center center; }
        div.spverticalmenu .sp-vermegamenu .navbar-nav > li > a .fa-icon-8 {
          background: url("../../../assets/img/icon/icon-8.png") no-repeat center center; }
        div.spverticalmenu .sp-vermegamenu .navbar-nav > li > a .fa-icon-9 {
          background: url("../../../assets/img/icon/icon-9.png") no-repeat center center; }
        div.spverticalmenu .sp-vermegamenu .navbar-nav > li > a .fa-icon-10 {
          background: url("../../../assets/img/icon/icon-10.png") no-repeat center center; }
      div.spverticalmenu .sp-vermegamenu .navbar-nav > li.item-1.parent a {
        position: relative; }
        div.spverticalmenu .sp-vermegamenu .navbar-nav > li.item-1.parent a:before {
          content: "\f105";
          font-family: fontawesome;
          font-size: 14px;
          font-weight: normal;
          color: #7d7d7d;
          position: absolute;
          right: 0;
          left: auto;
          line-height: 24px; }
      div.spverticalmenu .sp-vermegamenu .navbar-nav > li.item-1.parent ul li a:before {
        content: ""; }
  div.spverticalmenu .sp-vermegamenu .navbar-nav .css_type .dropdown-menu {
    border-radius: 0; }
  div.spverticalmenu .sp-vermegamenu .navbar-nav .css_type > .dropdown-menu {
    padding: 15px 0;
    width: 220px; }
    div.spverticalmenu .sp-vermegamenu .navbar-nav .css_type > .dropdown-menu > ul > li > a {
      padding: 9px 0;
      margin: 0 30px;
      border-bottom: 1px solid #f0f0f0; }
      div.spverticalmenu .sp-vermegamenu .navbar-nav .css_type > .dropdown-menu > ul > li > a:after {
        display: none; }
    div.spverticalmenu .sp-vermegamenu .navbar-nav .css_type > .dropdown-menu > ul > li:last-child > a {
      border-bottom: none; }
  div.spverticalmenu .sp-vermegamenu .navbar-nav .css_type ul li.item-2.parent > a {
    position: relative; }
    div.spverticalmenu .sp-vermegamenu .navbar-nav .css_type ul li.item-2.parent > a:before {
      content: "\f105";
      font-family: fontawesome;
      font-size: 13px;
      font-weight: normal;
      color: #616161;
      position: absolute;
      right: 0;
      left: auto;
      line-height: 21px; }
  div.spverticalmenu .sp-vermegamenu .navbar-nav .vertical-cat .dropdown-menu {
    padding: 22px 12px 15px;
    max-width: 880px; }
    div.spverticalmenu .sp-vermegamenu .navbar-nav .vertical-cat .dropdown-menu ul li.cat-child > a, div.spverticalmenu .sp-vermegamenu .navbar-nav .vertical-cat .dropdown-menu ul li.cat-child-2 > a {
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      color: #222;
      padding: 0 0 10px;
      border-bottom: 1px solid #eaeaea;
      transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -webkit-transition: all 0.3s ease 0s;
      -ms-transition: all 0.3s ease 0s; }
      div.spverticalmenu .sp-vermegamenu .navbar-nav .vertical-cat .dropdown-menu ul li.cat-child > a:after, div.spverticalmenu .sp-vermegamenu .navbar-nav .vertical-cat .dropdown-menu ul li.cat-child-2 > a:after {
        display: none; }
    div.spverticalmenu .sp-vermegamenu .navbar-nav .vertical-cat .dropdown-menu ul li.cat-child > .dropdown-menu, div.spverticalmenu .sp-vermegamenu .navbar-nav .vertical-cat .dropdown-menu ul li.cat-child-2 > .dropdown-menu {
      padding: 5px 0 10px;
      display: block;
      left: 0;
      top: auto;
      position: relative;
      box-shadow: none;
      border-radius: none;
      border: none;
      width: 100%; }
      div.spverticalmenu .sp-vermegamenu .navbar-nav .vertical-cat .dropdown-menu ul li.cat-child > .dropdown-menu ul li > a, div.spverticalmenu .sp-vermegamenu .navbar-nav .vertical-cat .dropdown-menu ul li.cat-child-2 > .dropdown-menu ul li > a {
        font-weight: normal;
        color: #7d7d7d;
        padding: 8px 0;
        font-size: 13px; }
    div.spverticalmenu .sp-vermegamenu .navbar-nav .vertical-cat .dropdown-menu ul li.cat-child-2 {
      width: 30%; }
    div.spverticalmenu .sp-vermegamenu .navbar-nav .vertical-cat .dropdown-menu ul li.ver-img-1 a {
      padding: 5px 0; }
      div.spverticalmenu .sp-vermegamenu .navbar-nav .vertical-cat .dropdown-menu ul li.ver-img-1 a .sp_megamenu_title {
        display: none; }
    div.spverticalmenu .sp-vermegamenu .navbar-nav .vertical-cat .dropdown-menu ul li.ver-img {
      width: 40%; }
      div.spverticalmenu .sp-vermegamenu .navbar-nav .vertical-cat .dropdown-menu ul li.ver-img .sp_megamenu_title {
        display: none; }
  div.spverticalmenu .sp-vermegamenu .label-image {
    margin-bottom: 25px; }

.sp-vermegamenu .menu > li > .dropdown-menu {
  display: block;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  transition: all .2s ease-in;
  z-index: 99999;
  left: 110%;
  top: 0px; }

.sp-vermegamenu .menu > li > .dropdown-menu .short_description {
  color: #747474;
  width: 100%;
  padding: 5px 10px; }

.sp-vermegamenu .menu > li > .dropdown-menu {
  padding: 0; }
  .sp-vermegamenu .menu > li > .dropdown-menu > li {
    float: left; }

.sp-short .dropdown-menu .short_description {
  display: block;
  border-top: 1px solid #dfdfdf;
  float: right; }

.sp-vermegamenu .menu > li:focus {
  background-color: #d9d9d9; }

.sp-vermegamenu .menu > li:focus, .sp-vermegamenu .menu > li:hover a {
  color: #FFF; }

.sp-vermegamenu .menu > li:focus, .sp-vermegamenu .menu > li:hover .dropdown-menu a {
  color: #747474; }

.sp-vermegamenu .menu > li:hover > .dropdown-menu {
  visibility: visible;
  margin: 0;
  top: 0px; }

.sp-vermegamenu a:focus {
  outline: none; }

.sp-vermegamenu .menu > li:focus > a:focus, .sp-vermegamenu .menu > li:focus > a:hover, .sp-vermegamenu .menu > li:hover > a:focus, .sp-vermegamenu .menu > li:hover > a:hover {
  color: white; }

.sp-vermegamenu .menu > li.active {
  background-color: #d9d9d9; }

.sp-vermegamenu .menu > li.active > a {
  background-color: transparent;
  color: white; }

.sp-vermegamenu .menu > li.active > a:hover {
  background-color: transparent; }

.sp-vermegamenu .dropdown-menu {
  min-width: 155px;
  background: white;
  font-size: 13px;
  color: black; }

.sp-vermegamenu .dropdown-menu .menu-title {
  color: #202020;
  font-size: 15px; }

.sp-vermegamenu .dropdown-menu ul {
  display: block; }

.sp-vermegamenu .dropdown-menu ul li {
  display: block;
  position: relative; }

.sp-vermegamenu .dropdown-menu ul li.parent:hover .dropdown-menu {
  display: block;
  left: 100%;
  top: 0; }

.sp-vermegamenu .sp-cat ul > li .dropdown-menu {
  display: block;
  background-color: transparent;
  border: medium none;
  box-shadow: none;
  position: relative;
  top: 0px; }

.sp-vermegamenu .sp-cat .dropdown-menu ul li.parent:hover .dropdown-menu {
  display: block;
  left: 0px;
  top: 0px; }

.sp-vermegamenu .dropdown-menu ul li.parent > a:after {
  display: inline-block;
  content: "\f105";
  font-family: "FontAwesome";
  top: 0;
  position: relative;
  float: right;
  margin-left: 5px; }

.sp-vermegamenu .sp-cat .dropdown-menu ul li.parent > a:after {
  display: none; }

.sp-vermegamenu .dropdown-menu ul li.parent.group > a:after {
  display: none; }

.sp-vermegamenu .dropdown-menu ul li.parent {
  z-index: 9; }

.sp-vermegamenu .dropdown-menu ul li.parent.group {
  float: left;
  box-sizing: border-content; }

.sp-vermegamenu .dropdown-menu ul li.parent.group > a {
  color: #444;
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 10px; }

.sp-vermegamenu .dropdown-menu ul li.parent.group .dropdown-menu {
  display: block;
  position: static;
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding-top: 15px; }
  .sp-vermegamenu .dropdown-menu ul li.parent.group .dropdown-menu li {
    margin-top: 15px; }
    .sp-vermegamenu .dropdown-menu ul li.parent.group .dropdown-menu li .dropdown-menu {
      padding-top: 0; }
      .sp-vermegamenu .dropdown-menu ul li.parent.group .dropdown-menu li .dropdown-menu li {
        margin-top: 0;
        padding-top: 20px; }
        .sp-vermegamenu .dropdown-menu ul li.parent.group .dropdown-menu li .dropdown-menu li .dropdown-menu li {
          width: 100%;
          padding-top: 0; }

.sp-vermegamenu .dropdown-menu ul li.html-menu {
  float: left; }

.sp-vermegamenu .dropdown-menu ul li.html-menu .menu-content {
  margin-top: 15px; }

.sp-vermegamenu .dropdown-menu ul li a {
  display: block;
  padding: 2px 10px;
  color: #656565;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 13px; }

.sp-vermegamenu .dropdown-menu ul li > span.menu-title {
  color: #444;
  font-size: 14px;
  display: block;
  padding: 10px;
  width: 100%;
  font-weight: bold; }

.sp-vermegamenu .dropdown-menu img {
  width: 100%; }

.sp-vermegamenu .poduct-list {
  position: static; }

.sp-vermegamenu #remove-vermegamenu {
  padding: 15px 20px;
  z-index: 10;
  cursor: pointer;
  display: none;
  background: #000;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(68, 73, 78, 0.95);
  color: #fff; }
  .sp-vermegamenu #remove-vermegamenu:after {
    content: "\f00d";
    color: #fff;
    font-size: 14px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: fontawesome;
    z-index: 10; }
  .sp-vermegamenu #remove-vermegamenu:hover:after {
    color: red; }

div.spverticalmenu div.sp-vermegamenu.sp-vermegamenu-active {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.sp-vermegamenu a i {
  margin-right: 10px;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  position: relative; }
  .sp-vermegamenu a i:before {
    position: absolute;
    bottom: 2px;
    display: inline-block; }

#index .header_v2 div.spverticalmenu .navbar-vertical {
  display: none; }
#index .header_v2 div.spverticalmenu:hover .navbar-vertical {
  display: block; }

.header_v2 div.spverticalmenu:before {
  content: "";
  height: 7px;
  width: 100%;
  position: absolute;
  top: -7px;
  left: 0;
  right: 0;
  bottom: auto;
  z-index: 3;
  border-radius: 7px 7px 0 0; }
.header_v2 div.spverticalmenu h3 {
  padding: 20px 20px 26px 44px; }
  .header_v2 div.spverticalmenu h3:before {
    top: 17px; }

@media (max-width: 1024px) {
  .sp-vermegamenu .dropdown-menu {
    min-width: 155px; } }
@media (min-width: 992px) {
  .spverticalmenu .navbar-header {
    display: none; }

  .sp-vermegamenu .menu > li > .dropdown-menu, div.spverticalmenu .sp-vermegamenu .navbar-nav .css_type > .dropdown-menu {
    display: block;
    transform-origin: 0 0 0;
    -ms-transform-origin: 0 0 0;
    -webkit-transform-origin: 0 0 0;
    top: 0;
    opacity: 0;
    position: absolute;
    border-top: 2px solid transparent;
    backface-visibility: hidden;
    transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    -webkit-transform: scale(0, 1);
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    z-index: 3;
    left: 100%;
    border-radius: 0; }

  .sp-vermegamenu .menu > li:hover > .dropdown-menu, div.spverticalmenu .sp-vermegamenu .navbar-nav .css_type:hover > .dropdown-menu {
    display: block;
    opacity: 1;
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    left: 100%;
    z-index: 999; }

  .lang-rtl div.spverticalmenu .menu > li > .dropdown-menu, .lang-rtl div.spverticalmenu .sp-vermegamenu .navbar-nav .css_type > .dropdown-menu {
    right: 100%;
    left: auto;
    transform-origin: right top 0;
    -webkit-transform-origin: right top 0;
    -ms-transform-origin: right top 0; } }
@media (max-width: 991px) {
  
  .header_v7 div.spverticalmenu .sp-vermegamenu .navbar-nav > li > a{
    padding: 0 10px;
  }
  
  #vertical_menu {
    padding: 0 0 0 15px;
    background: #000;
    height: 50px; }

  div.spverticalmenu .navbar-vertical {
    left: 0;
    right: auto;
    top: 0;
    display: block; }
  div.spverticalmenu h3 {
    display: none; }
    div.spverticalmenu h3:before, div.spverticalmenu h3:after {
      display: none; }
  div.spverticalmenu .navbar-header {
    position: absolute;
    top: 0; }
    div.spverticalmenu .navbar-header .navbar-toggle {
      padding: 15px;
      border-radius: 0;
      margin: 0;
      border: none;
      display: block;
      height: 50px; }
      div.spverticalmenu .navbar-header .navbar-toggle .icon-bar {
        background-color: #fff;
        display: block;
        height: 4px;
        width: 26px;
        margin-top: 4px; }
      div.spverticalmenu .navbar-header .navbar-toggle .icon-bar.bar1 {
        width: 10px; }
      div.spverticalmenu .navbar-header .navbar-toggle .icon-bar.bar2 {
        width: 18px; }
  div.spverticalmenu .sp-vermegamenu {
    border: none;
    padding: 0;
    position: fixed;
    top: 0px;
    left: 0;
    background: #333;
    bottom: 0px;
    width: 280px;
    z-index: 99999;
    overflow-x: hidden;
    overflow-y: auto;
    visibility: hidden;
    -webkit-transform: translate3d(-280px, 0, 0);
    transform: translate3d(-280px, 0, 0);
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    height: 100%; }
    div.spverticalmenu .sp-vermegamenu #remove-vermegamenu {
      display: block; }
    div.spverticalmenu .sp-vermegamenu .navbar-default .navbar-toggle {
      margin: 8px 0; }
    div.spverticalmenu .sp-vermegamenu .navbar-nav {
      overflow-y: auto;
      float: none;
      height: 495px;
      margin: 0; }
      div.spverticalmenu .sp-vermegamenu .navbar-nav > li {
        background: #fff;
        position: relative; }
        div.spverticalmenu .sp-vermegamenu .navbar-nav > li.item-1 {
          background: #333; }
        div.spverticalmenu .sp-vermegamenu .navbar-nav > li > a {
          padding: 0 10px;
          margin: 0;
          border-bottom: 1px solid rgba(68, 73, 78, 0.95);
          line-height: 50px;
          color: #fff; }
        div.spverticalmenu .sp-vermegamenu .navbar-nav > li:hover {
          background: #000; }
        div.spverticalmenu .sp-vermegamenu .navbar-nav > li > .dropdown-menu ul li .grower {
          display: none !important; }
      div.spverticalmenu .sp-vermegamenu .navbar-nav li .dropdown-menu {
        width: 100% !important;
        position: relative;
        display: none;
        filter: alpha(opacity=100);
        opacity: 1;
        visibility: inherit;
        margin-top: 0px;
        float: none;
        box-shadow: none !important;
        border: none !important;
        boder-radius: none !important; }
      div.spverticalmenu .sp-vermegamenu .navbar-nav .vertical-cat .dropdown-menu {
        overflow: hidden; }
        div.spverticalmenu .sp-vermegamenu .navbar-nav .vertical-cat .dropdown-menu ul li.cat-child-2, div.spverticalmenu .sp-vermegamenu .navbar-nav .vertical-cat .dropdown-menu ul li.ver-img {
          width: 100%; }
      div.spverticalmenu .sp-vermegamenu .navbar-nav .css_type ul li.item-2.parent > a:before {
        display: none; }
    div.spverticalmenu .sp-vermegamenu li.parent .dropdown-menu {
      display: none;
      padding: 0px;
      left: 0px; }
    div.spverticalmenu .sp-vermegamenu .navbar-nav li {
      clear: both;
      position: relative !important; }
    div.spverticalmenu .sp-vermegamenu .navbar-nav > li.parent > a::before {
      display: none; }
    div.spverticalmenu .sp-vermegamenu .dropdown-menu ul li.parent > a::after {
      display: none; }
    div.spverticalmenu .sp-vermegamenu .navbar-nav > li.parent > a::after {
      display: none; }
    div.spverticalmenu .sp-vermegamenu .navbar-nav > li.parent span.grower {
      display: block;
      background: #000;
      position: absolute;
      right: 0;
      left: auto;
      cursor: pointer;
      font-family: "FontAwesome";
      font-size: 14px;
      height: 50px;
      width: 50px;
      top: 0px;
      text-align: center;
      line-height: 48px;
      font-weight: 300;
      opacity: 1;
      color: #fff; }
    div.spverticalmenu .sp-vermegamenu .navbar-nav > li.parent .dropdown-menu span.grower {
      right: 15px; }
    div.spverticalmenu .sp-vermegamenu .navbar-nav > li.parent span.grower.close:before {
      content: "\f067"; }
    div.spverticalmenu .sp-vermegamenu .navbar-nav > li.parent span.grower.open:before {
      content: "\f068"; }
    div.spverticalmenu .sp-vermegamenu .navbar-brand {
      color: #777;
      position: absolute;
      top: 0px; }
    div.spverticalmenu .sp-vermegamenu .menu > li:focus > a:focus, div.spverticalmenu .sp-vermegamenu .sp-vermegamenu .menu > li:focus > a:hover, div.spverticalmenu .sp-vermegamenu .sp-vermegamenu .menu > li:hover > a:focus, div.spverticalmenu .sp-vermegamenu .sp-vermegamenu .menu > li:hover > a:hover {
      background-color: #dfdfdf;
      color: #333; }
    div.spverticalmenu .sp-vermegamenu .menu > li:focus, div.spverticalmenu .sp-vermegamenu .sp-vermegamenu .menu > li:hover a {
      color: #333; }
    div.spverticalmenu .sp-vermegamenu .dropdown-menu ul li a {
      min-width: auto;
      padding: auto; }
    div.spverticalmenu .sp-vermegamenu .navbar-nav .ver-poduct-list .dropdown-menu ul li a {
      padding: 7px 0; }
    div.spverticalmenu .sp-vermegamenu .dropdown-menu ul li.parent .dropdown-menu {
      margin-left: 15px; 
	  display: block !important;}
    div.spverticalmenu .sp-vermegamenu .dropdown-menu ul li.parent:hover .dropdown-menu {
      display: none;
      top: inherit;
      left: 10px; }
    div.spverticalmenu .sp-vermegamenu .sp-cat .dropdown-menu ul li.parent:hover .dropdown-menu {
      display: none;
      left: 10px;
      top: inherit; }
    div.spverticalmenu .sp-vermegamenu .sp-cat ul > li {
      width: inherit; }
    div.spverticalmenu .sp-vermegamenu .menu > li:focus, div.spverticalmenu .sp-vermegamenu .sp-vermegamenu .menu > li:hover {
      background-color: transparent; }
    div.spverticalmenu .sp-vermegamenu .sp-moto > .dropdown-menu {
      background-image: none !important; }
  div.spverticalmenu .more-wrap {
    padding: 13px 10px;
    border-bottom: 1px solid rgba(68, 73, 78, 0.95); }
    div.spverticalmenu .more-wrap .fa-angle-down, div.spverticalmenu .more-wrap .fa-angle-up, div.spverticalmenu .more-wrap .more-view {
      color: #fff; }

  #index .header_v2 div.spverticalmenu .navbar-vertical {
    display: inline-block; }

  .header_v2 div.spverticalmenu:before {
    display: none; }

  .lang-rtl #vertical_menu {
    padding: 0 15px 0 0; }
  .lang-rtl div.spverticalmenu .vernavbar {
    left: auto;
    right: 0; }
  .lang-rtl .sp-vermegamenu #remove-vermegamenu:after {
    left: 10px;
    right: auto; }
  .lang-rtl .sp-vermegamenu li.parent .dropdown-menu {
    right: 0;
    left: auto; }
  .lang-rtl .navbar-default .navbar-toggle {
    float: right; }
  .lang-rtl div.sp-vermegamenu .navbar-nav > li.parent span.grower {
    right: auto;
    left: 0; }
  .lang-rtl .navbar #sp-megamenu .home span.grower {
    right: auto;
    left: 0; } }